.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  header{
    text-align: center;
  }
  
  .box .logo {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  
  .box .content {
    text-align: left;
  }
  
  .box-1 {
    position: absolute;
    right: 300px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-webkit-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-moz-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
  }
  
  .box-2 {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-webkit-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-moz-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
  }
  
  .box-3 {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-webkit-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-moz-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
  }
  
  .box-4 {
    position: absolute;
    left: 300px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-webkit-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
-moz-box-shadow: 7px 1px 55px -8px rgba(0,0,0,0.5);
  }